<form id = "post-form">
  <md-input-container>
    <input mdInput
           placeholder="To"
           name="locationTo"
           [(ngModel)]="locationTo">
  </md-input-container>

  <md-input-container>
    <input mdInput
           placeholder="From"
           name="locationFrom"
           [(ngModel)]="locationFrom">
  </md-input-container>

    <md-input-container>
    <input mdInput
           placeholder="DD/MM/YYYY"
           name="onDate"
           [(ngModel)]="onDate"
           type="date">
    </md-input-container>

    <md-input-container>
    <input mdInput
           placeholder="HH:MM"
           name="time"
           [(ngModel)]="time">
    </md-input-container>

  <md-input-container>
    <textarea mdInput
              placeholder="Additional Information"
              name="content"
              [(ngModel)]="content">
    </textarea>
  </md-input-container>

  <button md-button
          [disabled]="this.loading"
          (click)="postToFacebook()">
    Post to Facebook
  </button>
</form>
