#topcontainer {
  width: 80%;
  margin: 5vmin auto;
  min-width: 200px;
}

app-post {
  margin: 0.2em;
}
#post-container {
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
}
md-progress-circle {
  margin: 40vh auto;
}
form {
  margin: 0.5em auto;
}
a#addpost {
  position: fixed;
  bottom: 1vmin;
  right: 1vmin;
  z-index: 1000;
}
