<div [ngGrid]="globalConfig">
  <div [(ngGridItem)]="configurations.twitter.config"
       *ngIf="configurations.twitter.display"
       (onChange)="updateItem($event);">
      <md-card>
        <md-card-content class="twitter">
          <app-feed></app-feed>
        </md-card-content>
      </md-card>
    </div>

  <div [(ngGridItem)]="configurations.selfData.config"
       *ngIf="configurations.selfData.display"
       (onChange)="updateItem($event)">
      <md-card>
        <md-card-content>
          <search-detail
            [alternate]="authService.user">
          </search-detail>
        </md-card-content>
      </md-card>
    </div>
</div>
