<div class="container">
  <div class="twittercontainer fl">
    <md-card *ngIf="configurations.twitter.display">
      <md-card-content class="twitter">
        <div class="twitterinner">
          <app-feed></app-feed>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div class="selfcontainer fl">
    <md-card *ngIf="configurations.selfData.display">
      <md-card-content class="self">
        <search-detail
          [alternate]="authService.user">
        </search-detail>
      </md-card-content>
    </md-card>
  </div>

  <div class="calendarcontainer fl">
    <md-card *ngIf="configurations.calenData.display">
      <md-card-content class="calendar">
        <app-event [view]="'basicDay'"></app-event>
      </md-card-content>
    </md-card>
  </div>

  <div class="weathercontainer fl">
    <md-card *ngIf="configurations.weather.display">
      <md-card-content class="weather">
        <app-weather></app-weather>
      </md-card-content>
    </md-card>
  </div>


</div>
